.container {
  height: 65px;
  
  background-color: #108ABD;

  display: flex;
  justify-content: space-between;
}

.imageContainer {
  width: 300px;
  height: 100%;
  padding: 6px;

  background-color: #FFFFFF;
  border-radius: 0 20px 0 0;
  object-fit: cover;
}

.image {
  max-height: 100%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.listLink {
  display: flex;

  list-style: none;
}

.linkContainer {
  padding: 0 24px;

  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;

  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkContainer:hover {
  color: #D6F2FD;
}

.linkContainer:not(:first-child) {
  border-left: 1px solid #FFFFFF;
}

.link {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}