.root {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.label {
    font-size: var(--font-md);
    font-weight: 600;
}

.input_box_icon {
    padding: 0 0.5rem;

    background-color: var(--white);
    border: 2px solid var(--border-color-default);
    border-radius: 0.2rem;

    display: flex;
    align-items: center;
    gap: 0.3rem;

    & > .input_text {
        width: 100%;
        padding-left: 0rem;

        border: none;
        outline: none;
    }
    
    &:focus-within {
        border-color: var(--color-primary);
    }

    &:focus-within > .input_icon {
        color: var(--color-primary);
    }

    &:not(:focus-within):hover {
        border-color: var(--border-color-dark);
    }

    &:has(.input_action) {
        padding-right: 0;
    }

}

.input_text {
    height: 2.5rem;
    padding-left: 0.5rem;

    border: 2px solid var(--border-color-default);
    border-radius: 0.2rem;
    outline: none;

    &:hover {
        border-color: var(--border-color-dark);
    }

    &:focus {
        border-color: var(--color-primary);
    }
}

.input_action {
    height: 2.5rem;
    aspect-ratio: 1 / 1;

    border: none;
    background: none;

    font-size: var(--font-md);

    display: grid;
    place-content: center;

    &:hover {
        color: var(--color-primary);
        background-color: var(--color-secundary);
        cursor: pointer;
    }
}