@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  background-color: #108ABD;
}

h1 {
  font-size: 3.2em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

:root{
  --address-blue:#148AF6;
  --standart-black:#333333;
  --standart-gray:#666666;
  --date-gray:#828282;
  --outline-gray:#C5C5C5;
}