@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  background-color: #FFFFFF;
}

h1 {
  font-size: 3.2em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh
}

@layer components {
  .button {
    @apply px-10 py-3 text-lg font-medium rounded-xl flex justify-center items-center flex-shrink-0 gap-2;
  }

  .button.solid {
    @apply !text-White !border-none;
  }

  .button.outline {
    @apply bg-transparent !outline-none border;
  }
  
  
  .default {
    @apply bg-Blue border-Blue text-Blue hover:bg-Blue70;

  }

  .confirm {
    @apply bg-Green border-Green text-Green hover:bg-Green70;
  }

  .alert {
    @apply bg-Red border-Red text-Red hover:bg-Red70;
  }

  .warning {
    @apply bg-Orange border-Orange text-Orange hover:bg-Orange70;
  }

  .disable {
    @apply bg-Silver border-Silver text-Silver hover:bg-Silver;
  }
  
  .outline.default {
    @apply hover:bg-Blue25;
  }
  
  .outline.confirm {
    @apply hover:bg-Green25;
  }

  .outline.alert {
    @apply hover:bg-Red25;
  }

  
  .outline.warning {
    @apply hover:bg-Orange25;
  }

  
  .outline.disable {
    @apply hover:bg-White;
  }
}